html, body, div, span, h1, p, a, img, li, ul, input {
	padding: 0;
	margin: 0;
}
body {
	font-size: 12px;
	line-height: 1.125;
    font-family: "SimHei", "SimSun", Arial;
	word-break: break-all;
	background-attachment: fixed;
	background: #efe7f2;
}
li {
	list-style-type: none;
}
img {
	border-style: none;
}
a{color:transparent;text-decoration:none;blr:expression(this.onFocus=this.blur());}
a:hover{text-decoration:none;outline:0}
a:focus{ outline:none;}
.clearfix:after{display: block;visibility: hidden;font-size: 0;content:" ";clear: both;height: 0;}
.clearfix{zoom:1;}
.clear{clear:both;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
body{
	height: 99.9%;
	overflow-x: hidden;
    background-color: #ffc500;
}
.tc{text-align: center;}
.p10{padding: 10px;}
.login{
	/*margin-top: 1rem;*/
}
.inp_box{
	background: url(../img/gybg.png)no-repeat center center;
	width: 100%;
	background-size:cover;
	padding: 2.5rem 0;
}
.title{
	font-size:1.3em;
	line-height:1.6em;
	color: #fff;
	width:100%;
	height:3em;
	position: absolute;
	top:70%;
	left:0;
	text-align: center;
}
.phone{
	width: 70%;
	margin:0 auto;
}
.number{
	width:96%;
	height:2.5em;
	margin:0 auto;
	padding-left:3%;
	border: 1px solid #feeadf;
	border-radius:5px;
	background-color: #fff;
	opacity: 0.8;
	font-size:1.3em;
	outline:none;
}
.inp_code{
	width:45%;
	float: left;
	height:2.5em;
	padding-left:3%;
	border: 1px solid #feeadf;
	border-radius:5px;
	background-color: #fff;
	opacity: 0.8;
	font-size:1.3em;
	outline:none;
}
.btn{
	width:99%;
	height:2.5em;
	border: 1px solid #f64a43;
	border-radius: 5px;
	background-color: #f64a43;
	color: #fff;
	text-align: center;
	line-height:2.5em;
	font-size:1.4em;
	margin-top: 1em;
	display: inline-block;
}
.yz_box{margin-top: 1em;}
.btn_yz{
	max-width:50%;
	float: right;
	height:2.7em;
	border: 1px solid #f64a43;
	border-radius: 5px;
	background-color: #f64a43;
	color: #fff;
	padding: 0 5px;
	text-align: center;
	line-height:2.7em;
	font-size:1.2em;
	display: inline-block;
}
.content{
	overflow: hidden;
	/*margin-top: 3em;*/
	margin-bottom:2em;
	padding: 0 1.5rem;
}
.content h1{
	font-size:1.3em;
	color:#f64a43;
	text-align: center;
	margin-bottom: 1rem;
}
.note{
	max-width: 500px;
    margin: 0 auto;
    margin-bottom:0.8em;
	color: #f64a43;
	font-size:1.3em;
	line-height: 1.5;
	text-align: justify;
}
.download{
	background-color: #fff;
	opacity: 0.6;
	padding: 2em;
}
.download a{
	width:80%;
	height: 40px;
	display: block;
	text-align: center;
	background-color:#FD4300;
	color:#fff;
	font-size:1.4em;
	border-radius: 5px;
	line-height:40px;
	margin: 0 auto;
}

.bg_white {
	background-color: #fff;
}
.bg_gray {
	background-color: #e8e8e8;
	height: 10px;
	width: 100%;
}
.quan_box {
	background-color: #ffc500;
}
.f13 {
	font-size:14px;
	font-size:1.2em;
}
.f16 {
	font-size:16px;
	font-size:1.5em;
}
.quan_txt {
	color: #fff;
	margin-top: 1em;
}
.mt1 {
	margin-top: 1em;
}
.quan_ul {
	display: block;
	width: 100%;
	background-color: #fff;
	margin-bottom: 3em;
}
.quan_ul li {
	display: block;
	padding-left: 10px;
}
.quan_ul li a {
	display: block;
	color: #333;
	font-size:15px;
	font-size:1.3em;
	border-bottom: 1px solid #ccc;
	position: relative;
	padding: 10px 0 10px 0;
}
.quan_ul li a .icon-xiangyoujiantou {
	color: #ADABAB;
	position: absolute;
	right: 0px;
	top:35%;
	font-size:12px;
}
.body_gray {
	background-color:#F1F1F1;
}
.code_box {
	padding: 3em 0;
}
.gz_txt {
	display: inline-block;
	width: 90%;
	color: #fff;
	font-size: 1.2em;
	background-color: #7ED321;
	padding: 1em 5px;
	-webkit-border-radius: 3em;
	-moz-border-radius: 3em;
	border-radius: 3em;
}
.intro_box {
	width: 90%;
	margin: 2em auto;
	text-align: justify;
}
.intro_title {
	color: #fff;
	font-size: 1.3em;
	text-align: center;
	height: 3em;
	line-height: 3em;
	background-color: #7ED321;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.intro_txt {
	background-color: #fff;
	padding: 1em;
	line-height: 2;
	font-size: 1.2em;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.sm_txt {
	margin-top:2em;
	border-top:1px dashed #ccc;
	color: #FF8B0D;
}
.point{background-color:#f64a43;width: 5px;height: 5px;
    margin-right: 5px;margin-top: 8px;
  -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}
.xq_txt{width: 95%;text-align: justify;}
